---
const formatter = new Intl.RelativeTimeFormat(Astro.currentLocale, {
  numeric: "auto",
});
---

<section id="recentVods" class="flex-1 flex gap-2 flex-wrap px-3 py-3">
  <h1>Carregando...</h1>
</section>
