<a href="/" class="flex justify-start items-center rounded-lg flex-col w-full duration-300 hover:opacity-60 cursor-pointer">
  <div class="flex justify-center items-center w-full">
    <img class="object-cover h-[30vw] sm:h-[23vw] md:h-[15vw] lg:h-[12vw] xl:h-[10vw] max-h-[190px] w-full rounded-lg vod-thumbnail" />
  </div>
  <div class="flex justify-center items-start w-full pt-4 space-x-2">
    <div class="flex justify-center items-start size-12 h-full">
      <div class="flex justify-center items-center bg-rgbaBGLight dark:bg-rgbaBGDark size-10 rounded-full">
        <img class="size-10 bg-contain rounded-full vod-avatar" src="https://images.unsplash.com/photo-1531804055935-76f44d7c3621?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
    </div>
    <div class="flex w-full flex-col justify-start items-start">
      <h1 class="titleDefault line-clamp-1 break-all font-bold uppercase text-sm vod-title"></h1>
      <div class="flex justify-start items-center space-x-2 text-sm">
        <p class="textDefault">
          <span class="vod-channel"></span> - <strong class="vod-date text-xs textDefault"></strong>
        </p>
      </div>
    </div>
  </div>
</a>
