@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #dedee7;
  scroll-behavior: smooth;
}

.dark {
  background-color: #000000;
}

.gutter {
  scrollbar-gutter: stable;
}

dialog[open] {
  animation: show .3s ease normal;
}

dialog::-webkit-scrollbar {
  display: flex;
}

dialog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

dialog::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  body:has(dialog[open]) {
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative !important;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0px !important;
  }
}


dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dark dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}

.break-word {
  word-break: break-word;
}