---
import type { GetStaticPaths } from 'astro'
import { availableLanguageTags } from '@paraglide/runtime'
import Layout from '@layouts/Layout.astro'
export const prerender = true
export const getStaticPaths = (() => {
  return availableLanguageTags.map((lang) => ({ params: { lang } }))
}) satisfies GetStaticPaths
---

<Layout>
  <main class="mx-auto min-h-screen">
    <h1>Erro</h1>
  </main>
</Layout>
