---
import DualScreenFilled from "@components/icons/DualScreenFilled.astro";
import DualScreenRegular from "@components/icons/DualScreenRegular.astro";
---

<div
  class="bg-white dark:bg-white/5 theBorder border-t-[0px] lg:border-t-[1px] rounded-lg group-[.theater]:rounded-none group-[.theater]:border-[0px] w-full lg:max-w-[450px] h-full flex items-center justify-center"
>
  <button id="toggle-theater">
    <DualScreenFilled class="hidden fill-white size-7 group-[.theater]:block" />
    <DualScreenRegular class="fill-white size-7 group-[.theater]:hidden" />
  </button>
</div>

<script>
  import { toggleTheater } from "@lib/vodUtils";
  (
    document.querySelector("#toggle-theater") as HTMLButtonElement
  ).addEventListener("click", (e) => {
    toggleTheater();
  });
</script>
