---
interface Props {}
---

<div
  id="player"
  class="w-full bg-rgbaBGLight dark:bg-rgbaBGDark theBorder h-full flex items-center justify-center group-[.theater]:border-[0px]"
>
  <iframe
    class="flex w-full h-full justify-center items-center"
    src="https://www.youtube.com/embed/FgoSrJt8E0Q?si=Q-KKCiCYIh_V5bLq"
    title="Vídeo"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</div>

<script></script>
