---
import type { Channel } from '@lib/types';
import ChannelPageHeader from "./ChannelPageHeader.astro";
import ChannelPageVods from "./ChannelPageVods.astro";

export interface Props {
  channelData: Channel;
}

const { channelData } = Astro.props;
---

<div class="flex flex-col justify-start items-center w-full max-w-[1600px]">
  <ChannelPageHeader {channelData} />
  <ChannelPageVods {channelData} />
</div>
