---
import ChannelPageWrapper from '@components/channelpage/ChannelPageWrapper.astro'
import Layout from '@layouts/Layout.astro'
import type { Channel } from '@lib/types'
import { availableLanguageTags } from '@paraglide/runtime'
import type { GetStaticPaths } from 'astro'
export const prerender = true
export const getStaticPaths = (async () => {
  const req = await fetch(`https://api.zvods.com/api/v1/channels?launched=true`)
  const { data } = (await req.json()) as { data: { channels: Channel[] } }
  const pages = data.channels.flatMap((channel) => {
    return availableLanguageTags.map((lang) => ({ params: { lang, streamer: channel.name.toLowerCase() }, props: { channelData: channel } }))
  })
  return pages
}) satisfies GetStaticPaths
const { channelData } = Astro.props
---

<Layout title={channelData.name}>
  <div class="flex justify-center items-start p-6 w-full h-full">
    <ChannelPageWrapper {channelData} />
  </div>
</Layout>
